{% extends "base_layout.html" %}
{% load i18n %}

{% block main-content-heading %}<!-- Add search here... -->
{% endblock main-content-heading %}

{% block main-content %}
  <h1>{{ page_title }}</h1>
  {% for student in student_list %}
    <table class="table table-responsive">
      <thead>
      <tr>
        <th>#</th>
        <th>{% translate "Last name" %}</th>
        <th>{% translate "First name" %}</th>
        <th>{% translate "Contact" %}</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      {% for student in student_list %}
        <tr>
          <td>{{ student.pk }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.first_name }}</td>
          <td>
            <address>
              {% if student.phone_number %}
                <span class="text-nowrap">{% translate "PN:" %}{{ student.phone_number }}</span>
              {% endif %}
              {% if student.email %}
                <span class="text-nowrap">{% translate "Email:" %}{{ student.email|urlize }}</span>
              {% endif %}
            </address>
          </td>
          <td>
            <a href="{% url "directory:student_detail" pk=student.pk %}">{% translate "Detail" %}</a>
            <a href="{% url "directory:student_update" pk=student.pk %}">{% translate "Update" %}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endblock main-content %}

{% block main-content-footer %}
  <div style="margin-left: auto; margin-right: auto;">
    <a href="{% url "directory:student_add" %}">{% translate "Add a student" %}</a>
  </div>
{% endblock main-content-footer %}
