{% load static %}<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">

  <title>{{ page_title }}</title>
  <meta name="description"
        content="{{ page_description }}">
  <meta name="author"
        content="François GUÉRIN <frague59@gmail.com>">

  <meta property="og:title"
        content="{{ page_title }}">
  <meta property="og:type"
        content="website">
  <meta property="og:url"
        content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description"
        content="{{ page_description }}">

  <link rel="icon"
        href="{% static "images/favicon.ico" %}"
        type="image/x-icon">
  {#  <link rel="icon" href="{% static "images/favicon.svg" %}" type="image/svg+xml">#}
  {#  <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">#}
  {% block extrahead %}
    <link rel="stylesheet"
          href="{% static "css/styles.css" %}">
  {% endblock extrahead %}
</head>

<body>
<header>
  {% block header %}
    <header>{% block header-content %}{% endblock header-content %}</header>
  {% endblock header %}
  {% block main %}
    <main>{% block main-content %}{% endblock main-content %}</main>
  {% endblock main %}
  {% block footer %}
    <footer>{% block footer-content %}{% endblock footer-content %}</footer>
  {% endblock footer %}
  {% block extrajs %}
    <script src="{% static "js/index.js" %}"></script>
  {% endblock extrajs %}
</header>
<main class="main">
  {% block title %}
    <h1>{{ title }}</h1>
  {% endblock title %}
  {% block main-content-heading %}<!-- main-content-heading -->{% endblock main-content-heading %}
  {% block main-content %}<!-- main-content -->{% endblock main-content %}
  {% block main-content-footer %}<!-- main-content-footer -->{% endblock main-content-footer %}
</main>
<footer></footer>
</body>
</html>
